*{
    box-sizing: border-box;
}
.wrap{
    margin: 0 auto;
    width: 1002px;
    font-family: "Microsoft JhengHei";
    .header{
        .top-icon{
            display: flex;
            justify-content: flex-end;
            background-color: silver;
            padding: 10px ; 
            hr{
                writing-mode: vertical-lr;
                height: 15px;
                width: 1px;
                background-color: black;
            }
        }
        a{
            text-decoration: none;
            display: block;
            text-align: center;
        }
        a:hover{
            color:red;
        }
        .top-menu{
            display: flex;
            justify-content: space-between;
            height: 50px;
            h1{
                background-image: url(../image/logo.png);
                background-repeat: no-repeat;
                background-size: center;
                width: 224px;
                text-indent: 101%; // 將字體超出一點
                overflow: hidden; // 超出部分隱藏
                white-space: nowrap; // 超出部分不換行 
            }
            ul{
                display: flex;
                align-items: center;
                li{
                    padding-right: 50px;
                    display: block;
                }
            }
        }
        .banner{
            background-image: url(../image/banner.png);
            background-repeat: no-repeat;
            height: 346px;
            display: flex;
            align-items: center;
            p{
                width: 100%;
                color: white;
                padding: 50px 20px;
                line-height: 64px;
                font-size: 32px;
                background: rgba(0, 0, 0, 0.15);
            }
        }
    }
}